# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build
mass_spring/.ipynb_checkpoints
.vscode

docs/_build
demos/output*.txt


# Python virtual environment
.venv/

# CMake build folder
build/

# Python cache
__pycache__/
*.pyc

# Python venv
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# local libs
lib/
lib64/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS (if applicable)
.DS_Store
